@{
	ViewData["Title"] = "Getsudo";
	string myurl = new ConfigurationBuilder().AddJsonFile("appsettings.json").Build().GetSection("Path:URL").Value;
}

<div class="page-main">
	<div class="page-content padding-10">
		<button type="button" id="btnLoad" class="btn btn-primary" style="display:none;">Load</button>
		<div id="grid" style="margin-top:5px; margin-bottom:5px;"></div>
	</div>
</div>

<div class="modal fade modal-primary" id="editorUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:25vh;">
	<div class="" role="document" style="padding-left:25vw;">
		<div class="modal-content" style="width:50vw">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalTitle">Upload Getsudo</h4>
			</div>
			<div class="modal-body margin-bottom-0 padding-bottom-0">
				<form id="formUpload" enctype="multipart/form-data">
					<span>Download template <a href="../../templates/Getsudo.xlsx" style="color:#0099ff" download="Template Getsudo.xlsx">here</a></span>
					<input type="file" name="file" class="form-control" id="fileUpload" accept=".xls,.xlsx" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id='clear'>Close</button>
				<button type="button" class="btn btn-primary" id="btnSaveUpload" value="Upload">Upload</button>
			</div>
		</div>
	</div>
</div>

<script>
	var AppD = {
		attachEvents: function () {
			var o = this;
			o.dom.$btnLoad.on('click', o.eventHandlers.onClickBtnLoad.bind(o));
			o.dom.$btnSaveUpload.on('click', o.eventHandlers.onClickBtnSaveUpload.bind(o));
			o.dom.$grid.on('click', '#btnUpload', o.eventHandlers.onClickBtnUpload.bind(o));
			o.dom.$grid.on('click', '#btnExcel', o.eventHandlers.onClickBtnExcel.bind(o));
		},
		cacheDom: function () {
			var o = this;
			o.dom.$grid = $("#grid");
			o.dom.$btnLoad = $("#btnLoad");
			o.dom.$editorUpload = $("#editorUpload");
			o.dom.$btnSaveUpload = $("#btnSaveUpload");
		},
		data: {
			UploadDate: new Date(),
			Line: ''
		},
		dom: {},
		eventHandlers: {
			onClickBtnExcel: function () {
				var o = this;
				o.dom.$grid.data('kendoGrid').saveAsExcel();
			},
			onClickBtnUpload: function () {
				var o = this;
				$("#fileUpload").data('kendoUpload').clearAllFiles();
				o.dom.$editorUpload.modal('show');
			},
			onClickBtnSaveUpload: function () {
				var o = this;
				swal.fire({
					title: 'Upload Getsudo?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes'
				}).then((result) => {
					if (result.isConfirmed) {
						let formData = new FormData();
						let files = $("#fileUpload").data('kendoUpload').getFiles();
						let file = files[0].rawFile;
						formData.append('file', file);

						$.ajax({
							url: "@myurl" + "Getsudo/Upload?UID=" + "@Context.Session.GetString("PIC_ID")",
							headers: { 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
							type: 'post',
							data: formData,
							contentType: false,
							processData: false
						}).done(function (data, textStatus, jqXHR) {
							var remarks = data[0].Remarks;
							if(remarks != '') {
								swal.fire({ title: 'Warning', text: remarks, icon: 'warning'});
							} else {
								o.dom.$editorUpload.modal('hide');
								swal.fire({ title: 'Success', text: 'Data Uploaded', icon: 'success', timer: 2000, showConfirmButton: false });
								$("#fileUpload").data('kendoUpload').clearAllFiles();
							}
						}).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
							$("#grid").data('kendoGrid').dataSource.read();
							o.dom.$btnLoad.click();
							$("#fileUpload").data('kendoUpload').clearAllFiles();
						});
					}
				});
			},
			onClickBtnLoad: function(){
				var o = this;

				$.ajax({
					method: 'post',
					headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
					url: "@myurl"+'Getsudo/INQ',
					dataType: 'text',
					data: JSON.stringify({
						UploadDate: kendo.toString(o.data.UploadDate, 'yyyy-MM'),
						Line: o.data.Line
					})
				}).done(function (data, textStatus, jqXHR) {
					try {
						var result = JSON.parse(data);
					}
					catch (e) {
						swal.fire('Error', 'Error loading grid', 'error');
						options.success({ data: [] });
						return;
					}

					var schemaFields = {
						ID_Getsudo: {type: "string"},
						LineOrderCode: {type: "string"},
						Unique_Nof: {type: "string"},
						Qty:{type: "number"},
						Periode_ID: {type: "string"},
					};

					var columns =
					[
						{
							field: "ID_Getsudo",
							title: "ID",
							width: 50
						},
						{
							field: "LineOrderCode",
							title: "Line",
							width: 100,
							template: "<div class='customClass'> #= (LineOrderCode == null) ? ' ' : kendo.toString(LineOrderCode, '') # </div>",
						},
						{
							field: "Unique_Nof",
							title: "UN",
							width: 70,
							template: "<div class='customClass'> #= (Unique_Nof == null) ? ' ' : kendo.toString(Unique_Nof, '') # </div>",
						},
						{
							field: "Qty",
							title: "Qty",
							width: 50
						},
						{
							field: "Periode_ID",
							title: "Periode",
							width: 70
						}
					];

					for(var key in result[0]){
						if(result[0].hasOwnProperty(key)){
							if(['ID_Getsudo'].indexOf(key) >= 0){
								continue;
							}
							if(['Unique_No'].indexOf(key) >= 0){
								continue;
							}
							if(['Unique_Nos'].indexOf(key) >= 0){
								continue;
							}
							if(['Unique_Nof'].indexOf(key) >= 0){
								continue;
							}
							if(['LineOrderCode'].indexOf(key) >= 0){
								continue;
							}
							if(['Line'].indexOf(key) >= 0){
								continue;
							}
							if(['Qty'].indexOf(key) >= 0){
								continue;
							}
							if(['Getsudo_Status'].indexOf(key) >= 0){
								continue;
							}
							if(['Kehadiran'].indexOf(key) >= 0){
								continue;
							}
							if(['Periode_ID'].indexOf(key) >= 0){
								continue;
							}

							schemaFields[key] = {type: 'number'};
							columns.push(
								{
									field: key,
									title: key.substring(1),
									width: 50,
									filterable: false,
								},
							);
						}
					}

					if(typeof o.dom.$grid.data('kendoGrid') != 'undefined'){
						o.dom.$grid.data('kendoGrid').destroy();
						o.dom.$grid.empty();
					}
					console.log(result);
					o.dom.$grid.kendoGrid({
						excel: {
							fileName: "Getsudo.xlsx",
							allPages: true,
							filterable: true
						},
						dataSource: {
							transport: {
								read: function (options) {
									options.success(result);
								}
							},
							schema: {
								model: {
									fields: schemaFields
								}
							},
							pageSize: 20
						},
						scrollable: true,
						sortable: true,
						resizable: true,
						reorderable: true,
						filterable: {
							extra: false,
							operators: {
								string: {
									contains: "Contains",
									eq: "Equal to",
									neq: "Not equal to"
								}
							}
						},
						pageable: {
							refresh: true,
							input: true,
							numeric: true,
							pageSizes: true,
							buttonCount: 5
						},
						columns: columns,
						toolbar: $("#template_toolbar").html(),
						dataBound: function(e) {
							o.initAfter();
						}
					});
				}).fail(function (jqXHR, textStatus, errorThrown) {
					swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
					options.success({ data: [] });
				});
			}
		},
		init: function () {
			var o = this;
			o.cacheDom();
			o.attachEvents();
			o.initElements();
		},
		initElements: function () {
			var o = this;

			$("#fileUpload").kendoUpload({
				multiple: false,
				validation: {
					allowedExtensions: [".xls", "xlsx"]
				}
			});

			o.dom.$btnLoad.click();
		},
		initAfter: function () {
			var o = this;
			o.dom.UploadDate = $("#UploadDate");
			o.dom.Line = $("#LineOrderCode");

			o.dom.UploadDate.kendoDatePicker({
				format: 'yyyy-MM',
				start: "year",
				depth: "year",
				value: o.data.UploadDate,
				change: function () {
					o.data.UploadDate = this.value() != null ? this.value() : '';

					if(this.value()){
						o.dom.$grid.data('kendoGrid').dataSource.read();
						o.dom.$btnLoad.click();
					}
				}
			});

			o.dom.Line.kendoComboBox({
				dataValueField: "IdValue",
				dataTextField: "ViewValue",
				filter: "contains",
				value: o.data.Line,
				dataSource: {
					transport: {
						read: function (options) {
							$.ajax({
								method: 'post',
								headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
								url: "@myurl" + 'DropDown/INQ',
								dataType: 'text',
								data: JSON.stringify({ Ftype: "LineOrder", Plant: "" })
							}).done(function (data, textStatus, jqXHR) {
								try {
									var result = JSON.parse(data);
								}
								catch (e) {
									swal.fire('Error', 'Error loading grid', 'error');
									options.success({ data: [] });
									return;
								}
								options.success(result);
							}).fail(function (jqXHR, textStatus, errorThrown) {
								swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
								options.success({ data: [] });
							});
						}
					}
				},
				change: function(){
					o.data.Line = this.value();

					if (this.value() && this.selectedIndex == -1) {
						this.text("");
						this.value(null);
					}

					o.dom.$grid.data('kendoGrid').dataSource.read();
					o.dom.$btnLoad.click();
				}
			});
		}
	};

	$(function () {
		AppD.init();
	});
</script>

<script type="text/x-kendo-template" id="template_toolbar">
	<span class="k-pager-refresh" style="font-weight: bold">&nbsp;&nbsp;- Getsudo -&nbsp;&nbsp;</span>
	<div class="toolbar">
	@if (Context.Session.GetString("add_Getsudo") == "True")
	{
			<button data-toggle="tooltip" title="Upload" type="button" class="btn ink-reaction btn-floating-action btn-xs btn-warning" id="btnUpload">
				<i class="k-icon k-i-upload"></i>
			</button>
	}
		<button data-toggle="tooltip" title="Save as Excel" type="button" class="btn ink-reaction btn-floating-action btn-xs btn-warning" id="btnExcel">
			<i class="k-icon k-i-excel"></i>
		</button>
		&nbsp;&nbsp;
		<input type="date" id="UploadDate" placeholder="Periode" />
		&nbsp;&nbsp;
		<input type="date" id="LineOrderCode" placeholder="Line" />
	</div>
</script>
