body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/public/assets/background/login_background.jpg") no-repeat;
    background-size: cover
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px
}

.login-container h2 {
    text-align: center
}

.login-form {
    display: flex;
    flex-direction: column
}

.form-group {
    margin-bottom: 15px
}

.form-group label {
    margin-bottom: 5px;
    display: block
}

.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #E8F0FE
}

.form-group input:hover {
    border: none;
    outline: none
}

.login-btn {
    background-color: #003D52;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.login-btn:hover {
    background-color: #065f7d
}

.center {
    text-align: center
}

.copyright {
    font-size: 12px
}

.version {
    font-size: 12px
}

.cent {
    display: block;
    margin: 0 auto;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {

    /* Safari/Chrome */
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {

    /* Firefox */
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}